{# src/NewsletterBundle/Resources/views/Default/add.html.twig #}

{% extends "NewsletterBundle::layout.html.twig" %}

{% block title %}
  Modifier une annonce - {{ parent() }}
{% endblock %}

{% block newsletter_body %}

  <h2>Ajouter une annonce</h2>

  {{ include("NewsletterBundle:Default:form.html.twig") }}

{% endblock %}