{# src/NewsletterBundle/Resources/views/Advert/form.html.twig #}

<h3>Formulaire d'annonce</h3>

{# On laisse vide la vue pour l'instant, on la comblera plus tard
   lorsqu'on saura afficher un formulaire. #}
<div class="well">
	<form class="form-horizontal">
		<div class="form-group">
			<label for="name">Nom</label>
			<input type="date" name="name">
		</div>
		<div class="form-group">
			<label for="name">Titre</label>
			<input type="text" name="name">
		</div>
		<div class="form-group">
			<label for="name">Template</label>
			<input type="radio" name="template">
		</div>
	</form>
</div>