{# src/NewsletterBundle/Resources/views/Default/menu.html.twig #}

{# Ce template n'hérite de personne,
   tout comme le template inclus avec {{ include() }}. #}

<ul class="nav nav-pills nav-stacked">
  {% for campaign in listCampaigns %}
    <li>
      <a href="{{ path('newsletter_view', {'id': campaign.id}) }}">
        {{ campaign.title }}
      </a>
    </li>
  {% endfor %}
</ul>